{% extends 'partials/base.html' %}
{% load static %}

{% block title%}
<title>Primis Sports UAE  - Home</title>
{% endblock %}

{% block content %}

{% include  'partials/carousel.html' %}

<!-- Cards -->
<div class="container mb-3">
    <h1 id="heading" class="text-center fs-1 fw-bold text-uppercase mt-2 py-2"> Join Us</h1>
    <strong><hr></strong>

    <div class="row mt-4 text-center">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/kid basketballer.webp" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Some text describing card 1.</p>
            <a class="btn btn-primary" style="width: 90%; padding: 15px 20px; border-radius: 30px;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/kid footbalers.webp" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some text describing card 2.</p>
            <a class="btn btn-primary" style="width: 90%; padding: 15px 20px; border-radius: 30px;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/girl basketballer.webp" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
            <a class="btn btn-primary" style="width: 90%; padding: 15px 20px; border-radius: 30px;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/sample/IMG_9691.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
            <a class="btn btn-primary" style="width: 90%; padding: 15px 20px; border-radius: 30px;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/ECA program.webp" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
            <a class="btn btn-primary" style="width: 90%; padding: 15px 20px; border-radius: 30px;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/holiday program.webp" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
            <a class="btn btn-primary" style="width: 90%; padding: 15px 20px; border-radius: 30px;">Read More</a>
          </div>
        </div>
      </div>
    </div>
</div>


  <!-- About us -->
  <div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 p-5 bg-light rounded-circle">
            <h5 class="mb-3">
                ABOUT US TEAM SPORTS SERVICES
            </h5>
                
            <p>
                Originating from Australian roots, Team Sports Services (TSS) is committed to delivering specialized sports initiatives encompassing Basketball, Football, and exclusive School Holiday programs for youth aged 4-18.
                Additionally, TSS pioneers a unique program catered for Children and People of Determination.
            </p>                    
            <p>
                Our advantage lies in our expert coaches, forward-thinking training techniques, and a structured approach.
            </p>

            <a class="btn btn-warning rounded-pill fs-6 py-3 px-5 ms-2 my-4" href="#">ABOUT US</a>
        </div>
    </div>
  </div>

  <div class="container-fluid p-0">
    <!-- Background image with Bootstrap container class -->
    <div class="position-relative">
      <img src="static/TSS-WEBSITE-Basketball-Academy.webp" class="img-fluid" alt="Background Image"> <!-- Replace with your background image -->
      <!-- Link on top of the background image -->
      <a href="#" class="link">Click Here</a>
    </div>
  </div>

<div class="container-fluid mb-3">
    <h1 id="heading" class="text-center fs-1 fw-bold text-uppercase mt-5 py-2">Program Schedule</h1>
    <strong><hr></strong>

    <div class="row mt-4 text-center">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/swimming lesson3.jpg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Some text describing card 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/track lesson.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some text describing card 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/swimming lesson2.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/tennis lesson2.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/tennies lesson1.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="static/kids in sports.webp" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <h1 id="heading" class="text-center fs-1 fw-bold text-uppercase mt-5 py-2">News</h1>
    <strong><hr></strong>

    <div class="row mt-4 text-center">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/swimming lesson3.jpg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Some text describing card 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/track lesson.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some text describing card 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/swimming lesson2.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/tennis lesson2.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/tennies lesson1.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/kids in sports.webp" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some text describing card 3.</p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <h1 id="heading" class="text-center fs-1 fw-bold mt-3 py-2"> Meet Our Coaches</h1>
    <strong><hr></strong>

    <div class="row mt-4 mb-3">
        {% for coach in coaches_list %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-header text-center bg-primary text-white">{{coach.role}}</div>
                    <img src="{{ coach.image.url }}" class="card-img-top" alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">{{coach.name}}</h5>
                        <a href="#" class="btn btn-outline-primary">View Profile</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}