{% extends 'partials/base.html' %}
{% load static %}

{% block title %}
    <title>
        Primis Sports  - Register
    </title>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row p-2 mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-light p-3">
                <h2 class="text-center text-info my-3 my-lg-5">Register</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary offset-md-2 my-3" style="width: 60%;">Register</button>
                </form>
            </div>
        </div>
    </div>   
</div>

{% endblock%}